.container[data-v-d1942b5a]{display:flex;flex-direction:column;justify-content:space-between;padding:20px;align-items:center}.border-no[data-v-d1942b5a]{border:0px;padding:0}.error-message[data-v-d1942b5a]{border:0px;padding:0;color:red}
